* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 4rem;
}

.options,
.paint-modes,
.grid-options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#grid-container {
    border: 1px solid black;
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.grid-box {
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.slider {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}